/* General page styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: lightsteelblue;
  color: #333;
  transition: background 0.8s, color 0.8s;
}

body.dark-mode {
  background-color: #343538;
  color: white;
}

/* Header style */
h1 {
  text-align: center;
  margin-top: 50px;
  color: #0066cc;
}

/* Paragraph style */
p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
  font-size: 18px;
}

/* Container box */
.container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(0,128,128,0.1);
}

/* Button styling */
.container button {
  padding: 10px 20px;
  background-color:  #008080;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.4s;
}

.container button:hover {
  background-color: #1ca9c9;
}

body.dark-mode .container button {
  background-color: #444;
  color: white;
}

