/* General page styles */
body {
  margin: 30px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
  transition: background 0.8s, color 0.8s;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

/* Header style */
h1 {
  text-align: center;
  margin-top: 50px;
  color: #0066cc;
}

/* Paragraph style */
p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
  font-size: 18px;
}

/* Button styling */
button.container {
  padding: 10px 20px;
  background-color:  #008080;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

button:hover {
  background-color: #1ca9c9;
}

/* Container box */
.container {
  background: #008080;
  padding: 10px;
  margin: 10px auto;
  width: 30px;
  height: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

